@{
  ViewBag.Title = "Index";
}

<div class="row">
  <div class="col-12">
    <div class="jumbotron">
      <h1>Hello</h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <div class="panel">

      <div class="panel-heading thai">What is Git and GitHub?</div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="panel">
      <div class="panel-heading thai">Learn by Checkpoints!</div>
      <a href="~/checkpoints" class="btn btn-mini btn-link">Let's start with us!</a>

    </div>
  </div>
  <div class="col-sm-4">
    <div class="panel">
      <div class="panel-heading thai">Join us in Facebook</div>
      <div class="thai thai-10pt">
        ร่วมกลุ่ม<a href="https://www.facebook.com/groups/gitnewhand">มือใหม่Gitฮับ</a>
        และ
        กลุ่ม<a href="https://www.facebook.com/groups/440497309296387/">Gitฮับ</a> ใน Facebook
      </div>

    </div>
  </div>
</div>
