<div class="navbar navbar-inverse navbar-fixed-top">
  
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  

  <a class="navbar-brand" href="~/">git-newhand</a>
  <div class="nav-collapse collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav">
      <li><a href="~/">Home</a></li>
      <li><a href="@Url.Action("index", "checkpoints")">Checkpoints</a></li>
      <li><a href="@Url.Action("index", "todo")">To-dos</a></li>
      <li><a href="@Url.Action("index", "contribute")">Contribute to this site</a></li>
    </ul>
  </div>
</div>

