body {
  padding-top: 80px;
}

.navbar {
  background-color: #205E33;
}
.navbar a.navbar-brand { color: white;}
.thai {
  font-family: Tahoma; 
}
  
.thai.thai-8pt {
  font-size: 8pt;
}

.thai.thai-10pt {
  font-size: 10pt;
}

.size-8pt { font-size: 8pt;color: dimgray;}

.thai.thai-12pt, .12pt {
  font-size: 12pt;
}


kbd {
  background-color: whitesmoke;
  padding-left: 3px;
  padding-right: 3px;
}
kbd:hover {
  background-color: gainsboro;
}