@{
  ViewBag.Title = "Index";
}

<div class="row">
  <div class="col-12">
    <div class="page-header">
      <h1>How to contribute <small>This website is open and need your helps</small></h1>
    </div>
  </div>
</div>
