@{
  ViewBag.Title = "Index";
}

<div class="row">
  <div class="col-lg-6">
    <div class="panel" style="margin-bottom: 5px;">
      <div class="panel-heading">
        <div class="pull-right">
          <a href="#" class="btn-success btn btn-mini">
            <span class="glyphicon glyphicon-check"></span>
            Checked
          </a>
        </div>
        <strong class="thai thai-10pt">
          <span class="glyphicon glyphicon-flag"></span>
          1. ใช้คำสั่ง git ทั่วไปในเครื่องตัวเองได้
        </strong>
      </div>
      <p class="thai thai-10pt">
        ครอบคลุมคำสั่ง: 
        <kbd>git init</kbd>
        <kbd>git add</kbd>
        <kbd>git commit</kbd>
        <kbd>git status</kbd>
      </p>
    </div>
  </div>
  <div class="col-lg-6">
    <div style="margin: 10px 0;">
      <img class="img-rounded" style="width: 30px;" src="http://graph.facebook.com/suthep/picture?type=square" />
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <div class="panel" style="margin-bottom: 5px;">
      <div class="panel-heading">
        <div class="pull-right">
          <a href="#" class="btn-link btn btn-mini">
            <span class="glyphicon glyphicon-unchecked"></span>
            Check In
          </a>
        </div>
        <strong class="thai thai-10pt">
          <span class="glyphicon glyphicon-flag"></span>
          2. ใช้ branch ในเครื่องตัวเองได้
        </strong>
      </div>
      <p class="thai thai-10pt">
        ครอบคลุมคำสั่ง: 
         <kbd>git branch</kbd>
        <kbd>git checkout</kbd>
        <kbd>git merge</kbd>
      </p>
    </div>
  </div>
  <div class="col-lg-6">
    <div style="margin: 10px 0;">
      <img class="img-rounded"  style="width: 30px;" src="http://graph.facebook.com/suthep/picture?type=square" />
    </div>

    </div>
</div>


<div class="row">
  <div class="col-lg-6">
    <div class="panel" style="margin-bottom: 5px;">
      <div class="panel-heading">
        <div class="pull-right">
          <a href="#" class="btn-link btn btn-mini">
            <span class="glyphicon glyphicon-unchecked"></span>
            Check In
          </a>
        </div>
        <strong class="thai thai-10pt">
          <span class="glyphicon glyphicon-flag"></span>
          3. สร้าง Public Repo ใหม่ใน GitHub.com
        </strong>
      </div>
      <p class="thai thai-10pt">
         แล้ว clone ลงมาในเครื่องตัวเอง แก้ไขเพิ่มเติมไฟล์ แล้ว push ขึ้น GitHub ได้ 
      </p>
    </div>
  </div>
  <div class="col-lg-6">
    <div style="margin: 10px 0;">
      <img class="img-rounded"  style="width: 30px;" src="http://graph.facebook.com/suthep/picture?type=square" />
    </div>
  </div>
</div>
